{{define "stock-taking-dashboard.html"}}
<!doctype html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}} | PharmaPOS</title>
    <link href="/static/css/tailwind.css" rel="stylesheet" />
    <style>
        html {
            transition: background-color 0.3s, color 0.3s;
        }
    </style>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col">
    {{template "nav.html" .}}
    {{template "subnav.html" .}}
    
    <!-- Main Content -->
    <main id="stock-taking-dashboard">
    </main>

    <!-- Scripts -->
    <script src="/static/js/theme.js"></script>
    <script type="module" src="{{ ViteAsset "src/stock-taking/dashboard/main.js" }}"></script>
</body>
</html>
{{end}}
